<div class='section'>
  <h1 class="title is-1"><%= camelized_slice_name %>::Views::<%= camelized_controller_name %>::<%= camelized_action_name %></h1>
</div>

<div class="content">
  <p>Here should go details of your page</p>
</div>
.
